.welcome {
  background: url("../../../../assets/welcome-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  background-position: center;
  position: relative;
  z-index: 1;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: rgb(16 15 19 / 66%);
    min-height: 100%;
  }
  .content {
    max-width: 700px;
    margin: 0 auto;
  }
  .title {
    font-size: 45px;
    line-height: 55px;
    font-weight: 600;
    color: #fff;
    max-width: 800px;
  }
  .buttons {
    .btn {
      font-weight: 600;
      padding: 12px 45px;
      font-size: 16px;
      line-height: 30px;
      font-weight: 700;
      &.explore {
        color: white;
      }
    }
  }
}
